# Exclure tous les fichiers cachés système
.DS_Store
Thumbs.db

# Exclure les fichiers d'environnement
.env

# Exclure les caches et logs
/writable/*


# Exclure les fichiers de configuration sensibles (si personnalisés pour l'environnement)
# /application/config/*.php

# Exclure les dépendances de Composer (si utilisées)
/vendor/

# Exclure les fichiers générés par IDEs/éditeurs
.idea/
/.vscode/
/nbproject/

# Exclure les fichiers de configuration utilisateur Git
.gitconfig
.gitattributes

# Exclure les fichiers et caches PHP
/tmp/
*.cache

# Exclure les fichiers des systèmes d’exploitation
.DS_Store
Thumbs.db

# Exclure les autres fichiers temporaires
*.log
*.bak
*.swp
*.tmp

log*
writable/session/ci_sessionedu88bta72kcs4l2et2p4t4g4vmo6ui0
/writable
